{% extends "polyaxon/index.html" %}
{% load i18n %}

{% block content %}
<div class="row">
    <div class="col-md-offset-2 col-md-8">
        <div class="jumbotron jumbotron-action">
            <div class="logo-position logo">
                <a href="/" class="logo-font-login">Polyaxon</a>
            </div>
            <div id="signinLabel">Your account is activated. You will be redirected to in a few seconds ...</div>
            <br>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script type="text/javascript">

    var redirectTo = function (url, time) {
        time = time || 4000;
         // Redirect automatically after X seconds...
        setTimeout(function () {window.location.replace(url);}, time);
    };
    redirectTo("{{ login_url }}");
</script>
{% endblock %}
