-r requirements-base.txt

-e git+https://github.com/polyaxon/polyaxon-k8s.git@94b273759faf21960adc63ee53749245c98dbca5#egg=polyaxon-k8s==0.3.3
-e git+https://github.com/polyaxon/polyaxon-schemas.git@c83f86edd2c8641aa403ea91d384e5b1b407b7c7#egg=polyaxon-schemas==0.3.4
