.pytest_cache/
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.mypy_cache/
.vscode/

# temp files
*~

# C extensions
*.so

# Distribution / packaging
.Python
docker/environment/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
public/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.pydevproject
.project
.settings/
.idea/
.DS_Store

# fab files
fabsettings.py
fabfile.py
fab_templates/

# graphviz files
*_graphviz.png
*_graphviz.dot

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# IPython Notebook
.ipynb_checkpoints

# pyenv
.python-version

# locals
local.py

# celery beat schedule file
celerybeat-schedule*
celeryev.pid
celeryd*pid
celeryd*log

# dotenv
.env

# virtualenv
venv/
ENV/

# data
big_data/
examples/data/
data/

# environment vars
polyaxon/polyaxon/env_vars/local.json
polyaxon/sidecar/env_vars/local.json

# project
logs/*
setup.log
reports/
media/
static/debug_toolbar
static/rest_framework
static/css

# npm modules and transpiled typescript files
client/dist/
client/node_modules/
client/npm-debug.log
deploy/dist/
deploy/node_modules/
deploy/npm-debug.log
/examples/polyaxon-logs/

# don't ignore static dist
!/static/dist
lastfailed

# Ignore local.env.ts
dev.env.ts
