celery==4.1.0
Django==2.0.3
django-cors-headers==2.2.0
djangorestframework==3.7.7
docker==3.1.4
GitPython==2.1.9
Jinja2==2.10
pika==0.11.0
psycopg2-binary==2.7.4
redis==2.10.6
sanic==0.6.0
Unipath==1.1
uWSGI==2.0.15
websockets==3.4

polyaxon-schemas==0.0.6
polyaxon-k8s==0.0.6
polyaxon-gpustat==0.0.6
