celery==4.1.0
Django==1.11.7
django-cors-headers==2.1.0
djangorestframework==3.7.0
djangorestframework-camel-case==0.2.0
django-registration==2.3
pandas==0.20.3
pandas-summary==0.0.41
psycopg2==2.7.3.1
redis==2.10.6
six==1.11.0
Unipath==1.1
uWSGI==2.0.15

-e git+https://github.com/polyaxon/polyaxon-spawner.git@f2fd7b037f1740b5ad839ae23acb6cfe3e6f561b#egg=polyaxon-spawner
-e git+https://github.com/polyaxon/polyaxon-k8s.git@d404fcb35744356fad6e4d8167f0960feccc4c61#egg=polyaxon-k8s
-e git+https://github.com/polyaxon/polyaxon-schemas.git@c8c9134013a51afbfeb266db8dbb5160494bf959#egg=polyaxon-schemas
