celery==4.1.0
Django==2.0.1
django-cors-headers==2.1.0
djangorestframework==3.7.7
djangorestframework-camel-case==0.2.0
docker==2.7.0
GitPython==2.1.8
Jinja2==2.10
pandas==0.22.0
pandas-summary==0.0.41
pika==0.11.2
psycopg2==2.7.3.2
redis==2.10.6
sanic==0.7.0
six==1.11.0
Unipath==1.1
uWSGI==2.0.15
websockets==4.0.1

polyaxon-schemas==0.0.2
polyaxon-k8s==0.0.2
polyaxon-gpustat==0.0.2
