celery==4.1.0
Django==2.0.2
django-cors-headers==2.2.0
djangorestframework==3.7.7
djangorestframework-camel-case==0.2.0
docker==3.1.0
GitPython==2.1.8
Jinja2==2.10
pika==0.11.2
psycopg2==2.7.4
redis==2.10.6
sanic==0.7.0
six==1.11.0
Unipath==1.1
uWSGI==2.0.15
websockets==3.4

-e git+https://github.com/polyaxon/polyaxon-gpustat.git@7f1bb3f9e05f48a89f4f9dd241dc0457bd3ac6a2#egg=polyaxon-gpustat==0.0.4
-e git+https://github.com/polyaxon/polyaxon-k8s.git@71548c75cbfa09e38737e5c505458a5e72f88f19#egg=polyaxon-k8s==0.0.4
-e git+https://github.com/polyaxon/polyaxon-schemas.git@a862d48124f76cd3e681d604310439599ea3e6a5#egg=polyaxon-schemas==0.0.4
