matplotlib==1.5.3
seaborn==0.7.1
jupyter==1.0.0
pandas==0.18.1
pandas-summary==0.0.41
tensorflow>=1.1.0
Django==1.11.2
djangorestframework==3.5.3
djangorestframework-camel-case==0.2.0
Unipath==1.1
psycopg2==2.6.2
polyaxon==0.0.28
