-r requirements-dev.txt

coverage==4.5.1
execnet==1.5.0
django-debug-panel==0.8.3
django-debug-toolbar==1.9.1
factory-boy==2.10.0
fake-factory==9999.9.9
flaky==3.4.0
isort==4.3.4
mock==2.0.0
prospector==0.12.7
pyflakes==1.6.0
responses==0.8.1
pylint==1.8.2
pylint-django==0.9.0
pytest==3.2.2
pytest-django==3.1.2
pytest-pythonpath==0.7.1
tox==2.9.1
