{% extends "admin/base.html" %}
{% load static %}

{% block title %}{{ title }} | Polyaxon Admin {% endblock %}
{% block extrastyle %}
<link href="//fonts.googleapis.com/css?family=Dosis:500&amp;text=Polyaxon" rel="stylesheet" type="text/css">
{% if frontend_debug %}
<link href="{% static 'css/global.css' %}?version=0.5.0rc2" media="all" rel="stylesheet" type="text/css"/>
{% else %}
<link href="{% static 'dist/css/global.min.css' %}?version=0.5.0rc2" media="all" rel="stylesheet" type="text/css"/>
{%  endif %}
{% endblock %}

{% block branding %}
<h1 id="site-name">
    <a class="brand" href="{% url 'admin:index' %}">
        <img src="{% static 'images/logo_white.svg' %}?version=0.5.0rc2" alt="Polyaxon"> Polyaxon
    </a> [Admin]
</h1>
{% endblock %}

{% block nav-global %}{% endblock %}
