{% extends "admin/base.html" %}
{% load staticfiles %}

{% block title %}{{ title }} | Polyaxon Admin {% endblock %}
{% block extrastyle %}
<link href="//fonts.googleapis.com/css?family=Dosis:500&amp;text=Polyaxon" rel="stylesheet" type="text/css">
<link href="{% static 'css/global.css' %}" media="all" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block branding %}
<h1 id="site-name">
    <a class="brand" href="{% url 'admin:index' %}">
        <img src="{% static 'images/logo_white.svg' %}" alt="Polyaxon"> Polyaxon
    </a> [Admin]
</h1>
{% endblock %}

{% block nav-global %}{% endblock %}
