-r ../requirements-base.txt

django-auth-ldap==1.7.0
django-debug-toolbar
GitPython==2.1.11
sanic==19.6.2
kubernetes-asyncio==8.0.3
ocular==0.1.6
polyaxon-dockerizer==0.0.5
polyaxon-k8s==0.4.7
polyaxon-gpustat==0.3.4
polyaxon-nginx==0.5.2
polystores==0.2.3
scikit-learn==0.20.0
scipy==1.1.0
uWSGI==2.0.18

azure-storage==0.36.0
boto3==1.7.73
botocore==1.10.84
google-cloud-storage==1.10.0
