-r requirements-base.txt

-e git+https://github.com/polyaxon/polyaxon-gpustat.git@96f8695997f42fe878d9e7ceb6adf21130ef2ffd#egg=polyaxon-gpustat==0.1.2
-e git+https://github.com/polyaxon/polyaxon-k8s.git@4c743204b3fd67378b87dc05d9cf280b858a6e84#egg=polyaxon-k8s==0.1.2
-e git+https://github.com/polyaxon/polyaxon-schemas.git@7dfd134a1218e0409608975ee7ed29b972e1451e#egg=polyaxon-schemas==0.1.2
