-r ../requirements-base.txt

django-auth-ldap==1.7.0
django-debug-toolbar
docker==3.4.1
GitPython==2.1.11
Jinja2==2.10
pika==0.12.0
sanic==0.7.0
scikit-learn==0.20.0
scipy==1.1.0
uWSGI==2.0.17.1
websockets==5.0.1
