-r ../requirements-base.txt

django-auth-ldap==1.7.0
django-debug-toolbar
docker==3.5.1
GitPython==2.1.11
Jinja2==2.10
pika==0.12.0
sanic==0.8.3
kubernetes-asyncio==8.0.3
ocular==0.1.2
polyaxon-k8s==0.3.7
polyaxon-gpustat==0.3.4
polystores==0.1.7
scikit-learn==0.20.0
scipy==1.1.0
uWSGI==2.0.17.1
websockets==5.0.1

azure-storage==0.36.0
boto3==1.7.73
botocore==1.10.84
google-cloud-storage==1.10.0
