-r requirements-base.txt

-e git+https://github.com/polyaxon/polyaxon-k8s.git@47405de0c0545b2887c49948476298919b31b6fc#egg=polyaxon-k8s==0.3.2
-e git+https://github.com/polyaxon/polyaxon-schemas.git@b8d1aadd4fb4a0c5d16387d43f6a5a79ca499df5#egg=polyaxon-schemas==0.3.2
