-r requirements-base.txt

-e git+https://github.com/polyaxon/polyaxon-k8s.git@cb74e72a055149507b8cb0a5e2470e5bee4ffcc1#egg=polyaxon-k8s==0.1.0
-e git+https://github.com/polyaxon/polyaxon-schemas.git@96bd4d92ad1ebc790cfef46c3a5fe0eeeb265eb3#egg=polyaxon-schemas==0.1.0
