-e git+https://github.com/polyaxon/polyaxon.git@master#egg=polyaxon-sdk==1.0.97&subdirectory=sdks/python/http_client/v1
-e git+https://github.com/polyaxon/polyaxon.git@master#egg=polyaxon==1.0.97&subdirectory=core
