-e git+https://github.com/polyaxon/polyaxon.git@master#egg=polyaxon-sdk==1.8.1&subdirectory=sdks/python/http_client/v1
-e git+https://github.com/polyaxon/polyaxon.git@master#egg=polyaxon==1.8.2&subdirectory=core
