{% extends "api/index.html" %}
{% load i18n %}

{% block content %}
<div class="row">
    <div class="col-md-offset-2 col-md-8">
        <div class="signup-area">
            <div class="logo-position logo">
                <a href="/" class="logo-font-login">Polyaxon</a>
            </div>
            <p id="signinLabel">Please enter your registered email address below to receive instructions for setting a new password</p>
            <form class="form-horizontal form-login" role="form" method="post" action="">
                {% csrf_token %}
                {% include 'users/formcontents.html' %}
                <div class="form-group whitespace">
                    <button id="id_reset" class="btn btn-default btn-login" type="submit">Reset password</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
    $('#id_account_email').focus();

    var checkForm = function () {
        var account_email = $('#id_account_email').val();
        $('#id_reset').toggleClass(
            'btn-primary',
            Common.constants.REGEXP_EMAIL.test(account_email));
    };
    checkForm();
    $('input').on('keyup', checkForm);
</script>
{% endblock %}
