{% extends "polyaxon/index.html" %}
{% load i18n %}

{% block content %}
<div class="row">
    <div class="col-md-offset-2 col-md-8">
        <div class="signup-area margin-middle">
            <div class="logo-position logo">
                <a href="/" class="logo-font-login">Polyaxon</a>
            </div>
            {% if validlink %}
            <p id="signinLabel">Please define a new password.</p>
            {% if form.non_field_errors %}
            <div class="alert alert-danger">
                <strong>Setting password failed!</strong>
                {% for error in form.non_field_errors %}
                <span>{{ error|escape }}</span>
                {% endfor %}
            </div>
            {% endif %}
            <form class="form-horizontal form-login" role="form" method="post" autocomplete="off" action="">
                {% csrf_token %}
                {% include 'users/formcontents.html' %}
                <div class="form-group whitespace">
                    <button id="id_set" class="btn btn-default btn-login" type="submit">Set new password</button>
                </div>
            </form>
            {% else %}
            <div class="alert alert-danger">
                <h4>Resetting password failed!</h4>
                <span>The used password reset link is invalid or it probably has been used already. Please request a new password reset if needed.</span>
            </div>
            <p>
                <a class="btn btn-primary btn-login" href="/">Back to start page</a>
            </p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{% if validlink %}
<script type="text/javascript">
    $('#id_new').focus();

    var checkForm = function () {
        $('#id_set').toggleClass('btn-primary', $('#id_new').val().length > 0);
    };
    checkForm();
    $('input').on('keyup', checkForm);
</script>
{% endif %}
{% endblock %}
