{% extends "polyaxon/index.html" %}
{% load i18n %}

{% block content %}
<div class="row">
    <div class="col-md-offset-2 col-md-8">
        <div class="signup-area margin-middle">
            <div class="logo-position logo">
                <a href="/" class="logo-font-login">Polyaxon</a>
            </div>
            <div id="signinLabel">{% trans 'Instructions for setting a new password have been sent to your email address.' %}</div>
            <p> {% trans 'Please check your inbox.' %} </p>
            <br>
            <p>
                <a class="btn btn-primary btn-login" href="/">{% trans 'Back to start page' %}</a>
            </p>
        </div>
    </div>
</div>
{% endblock %}
