-r requirements-base.txt

-e git+https://github.com/polyaxon/polyaxon-k8s.git@8c08e2071c58dbb0623b96f7b99d49d6f1d478ca#egg=polyaxon-k8s==0.2.5
-e git+https://github.com/polyaxon/polyaxon-schemas.git@d5fadd23ceb94adfae1995d083c056a8efa856d8#egg=polyaxon-schemas==0.2.5
