.md-header[data-md-state="shadow"] {
    background: -webkit-linear-gradient(to left, #485563, #29323c);
    background: linear-gradient(to left, #485563, #29323c);
}

[data-md-color-primary=blue-grey] .md-typeset a {
    color: #5f8fa5eb;
    color: rgba(95, 143, 165, 0.92);
}

.md-typeset h2 {
    color: #19576b;
}

.md-sidebar__inner {
    border-right: .1rem solid rgba(0, 0, 0, .07);
}

.md-nav--secondary {
    border-left: .4rem solid rgba(95, 143, 165, 0.92);
}

.md-typeset .codehilite, .md-typeset .highlight {
    background-color: hsla(0, 0.3%, 93%, .5);
}

.md-footer-nav {
    background: #29323C;
}

@media only screen and (min-width: 76.25em) {
  .md-main__inner {
    max-width: none;
  }
  .md-sidebar--secondary {
    margin-left: 100% !important;
  }
}

.api {
  color: white;
  padding: 5px;
  border-radius: 3px;
}

.api-post {
  background-color: #0d904f;
}

.api-get {
  background-color: #415f90;
}

.api-delete {
  background-color: #902722;
}

.api-patch {
  background-color: #ff8f05;
}
