body {
  font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
  font-size: 12px;
  line-height: 1.42857143;
}

.section#root {
  padding: unset;
}

.hero.is-fullheight .hero-body.layout, .hero.is-halfheight .hero-body.layout {
  align-items: unset;
  padding: unset;
}

.layout .container {
  max-width: 98%;
}

#top {
  padding: 0 36px 0 0;
  margin-bottom: 10px;
  background: #485563;
  background: -webkit-linear-gradient(to left, #485563, #29323c);
  background: linear-gradient(to left, #485563, #29323c);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  height: 45px;
  font-size: 14px;
}

#top #top-brand img, #branding h1 img {
  height: 40px;
  width: 50px;
  max-height: none;
  vertical-align: middle;
}

#top #top-brand span,
#top #top-brand a,
#branding h1 a {
  font-family: "Dosis", "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
  color: white;
  text-decoration: none;
  background: none;
  background-repeat: no-repeat;
  font-weight: bold;
}

#top #top-brand a:hover {
  color: rgba(255, 255, 255, 0.72);
  text-decoration: none;
}

/* Tabs */

.tabs.is-small {
    font-size: .8rem;
}

.hero .tabs ul {
  align-items: center;
  border-bottom: 1px solid #ddd;
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
  justify-content: flex-start;
}

.tabs a {
  border-bottom: 3px solid transparent;
  color: #337ab7;
}

.tabs li a:hover {
  color: #23527c;
  border-bottom: 3px solid #ddd;
}

.tabs li.is-active a, .tabs li.is-active a:focus, .tabs li.is-active a:hover {
  background-color: transparent;
  border: None;
  border-bottom: 3px solid #6b7b9e;
  color: #555;
}

/* Footer */

.footer {
  background: #F5F5F5;
  color: #aaa;
  font-size: 13px;
  padding: 3rem 0;
}

.footer .content i.love {
  color: #ff6956;
  font-size: 1.3em;
}

.footer .content a, .footer a.brand h3, .footer h4 {
  color: #716c6c;
}

.footer .content a:hover, .footer a.brand h3:hover {
  color: #222;
}

.footer a.brand {
  font-family: "Dosis", "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
  text-decoration: none;
  background: none;
  width: 70px;
  line-height: 11px;
  background-repeat: no-repeat;
}

.footer .content a:hover {
  text-decoration: none;
}

.footer .content a.social-icon {
  margin-left: 3px;
  margin-right: 3px;
}

.footer .content a.social-icon svg {
  vertical-align: middle;
}

.footer .content ul {
  list-style: none;
  margin: unset;
}
