-r requirements-base.txt

-e git+https://github.com/polyaxon/polyaxon-k8s.git@715d8382637862025246839626b93b8eb6ae5445#egg=polyaxon-k8s==0.3.1
-e git+https://github.com/polyaxon/polyaxon-schemas.git@23f1e008378fe74bf6fd6badadd8164716155a19#egg=polyaxon-schemas==0.3.1
