-r requirements-base.txt

-e git+https://github.com/polyaxon/polyaxon-k8s.git@7fee736cac028188c2248bc66ed3f53d4b1a64e1#egg=polyaxon-k8s==0.1.5
-e git+https://github.com/polyaxon/polyaxon-schemas.git@c392a78ec880d15a2f0f8aab48f1eb42f8766ad8#egg=polyaxon-schemas==0.1.5
