-r requirements-base.txt

-e git+https://github.com/polyaxon/polyaxon-k8s.git@62bbf5eac2a612a2f16a2526c2ac7c538b81854f#egg=polyaxon-k8s==0.1.9
-e git+https://github.com/polyaxon/polyaxon-schemas.git@b5d455b8ea42c178f22bd91da38d47aa42b453da#egg=polyaxon-schemas==0.1.9
