-r requirements-base.txt

-e git+https://github.com/polyaxon/polyaxon-k8s.git@cb74e72a055149507b8cb0a5e2470e5bee4ffcc1#egg=polyaxon-k8s==0.1.0
-e git+https://github.com/polyaxon/polyaxon-schemas.git@ea84e5e8744e34255cb1c7c1f00d8e7827ee0073#egg=polyaxon-schemas==0.1.0
