{% extends "polyaxon/root.html" %}
{% load i18n %}
{% load staticfiles %}

{% block index %}
    <div class="row">
        <div class="col-md-offset-2 col-md-8">
            <div class="jumbotron jumbotron-action">
                <div class="text-center">
                    <img src="{% static 'images/403.svg' %}" alt="403" height="300">
                </div>
                <div id="main">
                    <h1>Unauthorized </h1>
                    <p>You don't have authorisation to view this page.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
