{% extends "polyaxon/root.html" %}
{% load i18n %}
{% load staticfiles %}

{% block index %}
    <div class="row">
        <div class="col-md-offset-2 col-md-8">
            <div class="jumbotron jumbotron-action">
                <div class="text-center">
                    <img src="{% static 'images/50x.svg' %}" alt="50x" height="300">
                </div>
                <div id="main">
                    <h1>Error</h1>
                    <p>Something went wrong.</p>
                    <h3><a href="/" title="home" class="brand">Polyaxon</a></h3>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
