{% extends "polyaxon/root.html" %}
{% load i18n %}
{% load staticfiles %}

{% block index %}
<header id="top">
    <div id="top-brand">
        <a href="/" title="home"><img src="{% static 'images/logo_white.svg' %}" alt="Polyaxon">Polyaxon</a>
    </div>
    <nav id="top-nav-main">
        <ul>
            <li>
                <a href="https://docs.polyaxon.com">Docs</a>
            </li>
            <li>
                <a href="https://docs.polyaxon.com">Tutorials</a>
            </li>
            <li>
                <a href="https://docs.polyaxon.com">Examples</a>
            </li>
            <li>
                <a href="https://docs.polyaxon.com">Blog</a>
            </li>
            <li>
                <a href="/about">About</a>
            </li>
        </ul>
    </nav>

</header>
<div class="container container-fluid">
    {% block content %}{% endblock %}
</div>
{% endblock %}

{% block footer %}
{% include "polyaxon/footer.html" %}
{% endblock %}
