{% extends "polyaxon/root.html" %}
{% load staticfiles %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'dist/css/bootstrap.min.css' %}">
{% endblock %}

{% block header %}
    {% include "polyaxon/header.html" %}
{% endblock %}
{% block containerclass %}container-fluid{% endblock %}
{% block index %}
    {% block content %}
        <div class="container">
            <div class="row">
                <div class="col-md-offset-2 col-md-8">
                    <div class="jumbotron jumbotron-action">
                        <h3>Welcome to polyaxon</h3>
                        <ul>
                            <li>
                                <a href="{% url 'react-index' %}">Dashboard</a>
                            </li>
                            {% if user.is_anonymous %}
                            <li>
                                <a href="{% url 'users:registration_simple_register' %}">Register</a>
                            </li>
                            {% else %}
                            <li>
                                <a href="{% url 'users:logout' %}">logout</a>
                            </li>
                            {% endif %}
                        </ul>
                        <h3>Help</h3>
                        <ul>
                            <li>
                                <a href="https://docs.polyaxon.com/quick_start/">Quick Start</a>
                            </li>
                            <li>
                                <a href="https://docs.polyaxon.com/tutorials/">Tutorials</a>
                            </li>
                            <li>
                                <a href="https://docs.polyaxon.com/">Documentation</a>
                            </li>
                            <li>
                                <a href="https://github.com/polyaxon/polyaxon-examples">Examples</a>
                            </li>
                            <li>
                                <a href="mailto:contact@polyaxon.com">contact us</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
{% endblock %}

{% block footer %}
    {% include "polyaxon/footer.html" %}
{% endblock %}
