<html>
<head>
    {% load staticfiles %}
    <title>Polyaxon</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="icon" href="{% static 'images/favicon.ico' %}"/>
<link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600|Roboto Mono" rel="stylesheet" type="text/css">
    <link href="//fonts.googleapis.com/css?family=Dosis:500&amp;text=Polyaxon" rel="stylesheet" type="text/css">
    <base href="/">
    {% block styles %}
    {% endblock %}
    <link href="{% static 'css/global.css' %}" media="all" rel="stylesheet" type="text/css"/>
</head>

<body class="{% block bodyclass %}{% endblock %}">
<div id="container">
{% block header %}{% endblock %}
{% block index %}{% endblock %}
{% block footer %}{% endblock %}
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{% block scripts %}
{% endblock %}
</body>
</html>
