-r ../../requirements/base.txt

docker==4.4.4
GitPython<3.2.0

numpy>=1.15.2
scikit-learn==0.24.1
hyperopt==0.2.5

azure-storage-blob==12.8.0
boto3==1.17.42
botocore==1.20.42
google-cloud-storage==1.37.0

moto==2.0.4
google-compute-engine==2.8.13

kubernetes_asyncio==12.1.0
starlette==0.14.2
aiofiles==0.6.0
uvicorn==0.13.4
uvloop==0.15.2
httptools==0.1.1
python-multipart==0.0.5

altair==4.1.0
matplotlib==3.4.1
moviepy==1.0.2
plotly==4.6.0
Pillow==7.1.2
bokeh==2.0.2
pandas
