-r ../../requirements/base.txt

docker==4.2.0
gitpython==3.1.3

numpy>=1.15.2
scikit-learn==0.23.1
hyperopt==0.2.4

azure-storage-blob==12.3.1
boto3==1.13.19
botocore==1.16.19
google-cloud-storage==1.28.1

httpretty==1.0.2
moto==1.3.14
google-compute-engine==2.8.13

kubernetes-asyncio==11.2.0
starlette==0.13.4
aiofiles==0.5.0
uvicorn==0.11.5

altair==4.1.0
matplotlib==3.2.1
moviepy==1.0.3
plotly==4.6.0
Pillow==7.1.2
bokeh==2.0.2
pandas==1.0.3

nvidia-ml-py3==7.352.0

-e git+https://github.com/polyaxon/polyaxon.git@master#egg=polyaxon-sdk==1.0.93&subdirectory=sdks/python/http_client/v1
