-r requirements-base.txt

-e git+https://github.com/polyaxon/polyaxon-k8s.git@4c743204b3fd67378b87dc05d9cf280b858a6e84#egg=polyaxon-k8s==0.1.2
-e git+https://github.com/polyaxon/polyaxon-schemas.git@e590f1de64643a8704b441d2e70c30c86670391d#egg=polyaxon-schemas==0.1.2
