-r requirements-base.txt

-e git+https://github.com/polyaxon/polyaxon-k8s.git@7fee736cac028188c2248bc66ed3f53d4b1a64e1#egg=polyaxon-k8s==0.1.5
-e git+https://github.com/polyaxon/polyaxon-schemas.git@4d1faef9497f7cd5443267b2c2aee5a29b22f6a4#egg=polyaxon-schemas==0.1.5
