-r requirements-base.txt

-e git+https://github.com/polyaxon/polyaxon-k8s.git@194c75848cfc6a2a6845b421327dfb8d8994005f#egg=polyaxon-k8s==0.1.1
-e git+https://github.com/polyaxon/polyaxon-schemas.git@cbc8f9ad0ef0013a2500dcfc3e736b2a46a20647#egg=polyaxon-schemas==0.1.1
