.filter-list {
  label {
    font-weight: normal;
  }
  .search-group {
    display: flex;
  }
  .search-query {
    margin-right: 20px;
  }
  .search-add .btn, .btn-search {
    border-left: unset;
    background: #f5f9fb;
  }
  .search-add ul {
    overflow: auto;
    max-height: 500px;
  }
  .search-filter {
    border-bottom: 1px solid #f5f9fb;
    padding: 10px;
  }
  .filter-desc {
    margin: 2px 0 0;
    font-size: 13px;
    color: #8b8fa0;
  }
}
