.filter-list {
  label {
    font-weight: normal;
  }
  .search-group {
    display: flex;
  }
  .search-query {
    margin-right: 20px;
  }
  .search-add .btn, .btn-search {
    border-left: unset;
    background: #f5f9fb;
  }
  .search-add ul, .saved-searches ul, .search-sort ul {
    overflow: auto;
    max-height: 500px;
    min-width: 300px;
  }
  .saved-searches button {
    border-right: unset;
  }
  .search-filter {
    border-bottom: 1px solid #f5f9fb;
    padding: 10px;
  }
  .search-saved-query {
    border-bottom: 1px solid #f5f9fb;
    padding: 3px 5px 3px 5px;
    a {
      padding: 3px 14px;
    }
  }
  .filter-desc, .query-desc {
    margin: 2px 0 0;
    font-size: 11px;
    color: #8b8fa0;
  }
  .searches-save {
    margin: 8px 5px 5px;
  }
  .label-search {
    color: #536a84;
    font-size: 100%;
    margin: 0 4px 0 2px;
    padding: unset;
  }
}
