-r requirements-base.txt

-e git+https://github.com/polyaxon/polyaxon-gpustat.git@f602d234deff0d53055008bb27aafb77036ecd89#egg=polyaxon-gpustat==0.3.3
-e git+https://github.com/polyaxon/polyaxon-schemas.git@b7ac4423315044dc3f4a94276f79d0c3ac6d4d2a#egg=polyaxon-schemas==0.3.4
