-r requirements-base.txt

-e git+https://github.com/polyaxon/polyaxon-gpustat.git@96f8695997f42fe878d9e7ceb6adf21130ef2ffd#egg=polyaxon-gpustat==0.1.0
-e git+https://github.com/polyaxon/polyaxon-schemas.git@9c27a8a19f162f59fa3fad66511daf3085f99a85#egg=polyaxon-schemas==0.1.0
