@import "../../node_modules/font-awesome/less/font-awesome.less";

@gray-lightest: #fdfdfd;
@gray-darker: #eee;
@gray-darkest: #c9c9c9;
@table-text-gray: #8f8f8f;
@gl-text-color: #5c5c5c;
@gl-link-color: #3777b0;
@border-color: #e5e5e5;
@white-light: #fff;
@white-normal: #ededed;
@border-white-normal: #d6dae2;
@gray-lighter: #f9f9f9;
@gl-dark-link-color: #333;
@gray-dark: #ededed;
@dropdown-header-color: #31953a;
@layout-link-gray: #7e7c7c;
@blue-light-transparent: rgba(44, 159, 216, 0.05);
@btn-xs-side-margin: 5px;
@gl-text-color-light: #8c8c8c;
@layer-conv: #3777b0;
@layer-rnn: #2ab038;
@layer-loss: #b06e4d;
@layer-metric: #acb02a;
@red: #FF0000;
@green: #7FBA01;
@orange: #FEA706;
@light-blue: #0597D5;
@header-gray: #485563;

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 20rem;
  min-height: 100%;
}

pre {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

/* Form */

input, textarea { 
    padding: 9px;
    border: solid 1px #E5E5E5; 
    outline: 0; 
    font: normal 13px/100% Verdana, Tahoma, sans-serif; 
    width: 200px; 
    background: #FFFFFF; 
    margin-bottom: 10px;
  } 
   
textarea { 
    width: 400px; 
    max-width: 400px; 
    height: 150px; 
    line-height: 150%; 
  } 
   
input:hover, textarea:hover, 
input:focus, textarea:focus { 
    border-color: #C9C9C9; 
  } 
   
.form label { 
    color: @header-gray;
    min-width: 80px;
  } 
   
.submit input { 
    width: auto; 
    padding: 9px 15px; 
    background: @header-gray; 
    border: 0; 
    font-size: 14px; 
    color: #FFFFFF; 
  }


.container {
  margin: 0 auto;
  width: 94%;
  position:relative;
}

.list-item {
  display: block;
  border-bottom: 1px solid #f9f9f9;
  padding: 10px 0;
}
.list-item .description,
.list-item .meta {
  color: #7e7c7c;
  font-size: 12px;
}

.entity-details {
  padding-bottom: 20px;
  .title {
    font-size: 25px;
    padding-bottom:10px;
    
    .icon {
      padding-right: 8px;
    }
  }

  .results-info {
    font-size: 17px;
    padding-left: 10px;
    font-style: italic;
  }
  .back-button {
    margin-right: 10px;
    color: black;
    font-size: 25px;
    cursor: pointer;
  }
  .description {
    display: block;
    margin: 10px 0 0 67px;
    font-size: 15px;
    font-style: italic;
  }
  .content {
    margin: 10px 0 0 55px;
    font-size: 12px;
    font-style: italic;
  }
  .button {
    margin-left: 20px;
  }
  
}

.block {
  .status {
    padding-left: 5px;
    font-style: italic;
    font-size: 15px;
  }
  .button {
    min-width: 100px;
    .icon {
      padding-left: 5px;
    }
  }
  .title {
    font-size: 18px;
    .icon {
      padding-right: 5px;
    }
  }
  .meta {
    .icon {
      padding-right: 3px;
    }
    .title {
      font-size: 12px;
      padding-right: 3px;
      color: @layout-link-gray;
      font-weight: 500;
    }
  }
}

/* Colors */

.green {
  color: @green;
}

.orange {
  color: @orange;
}

.red {
  color: @red;
}

.light-blue {
  color: @light-blue;
}