.grid-list {
  .react-grid-Main {
    outline: None;
  }

  .react-grid-Grid {
    border: none;
    border-radius: 4px;
  }

  .react-grid-Header {
    background: none;
  }

  .react-grid-HeaderCell {
    background: #f9fafb;
    border: 1px solid #f0f4ff;
    font-weight: normal;
  }

  .react-grid-Cell {
    border-right: 1px solid #f0f4ff;
    border-left: 1px solid #f0f4ff;
    border-bottom: 1px solid #f0f4ff;
    border-radius: 4px;
  }
}
