.nav-tabs>li>a {
  margin-right: 0;
  background: none;
  border: none;
}

.nav>li>a:focus, .nav>li>a:hover {
  background: none;
  border: none;
}

.nav-tabs>li>a:hover {
  border-bottom: 3px solid #ddd;
}


.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    background-color: transparent;
    border: None;
    border-bottom: 3px solid #6b7b9e;
}

.tab-container {
  margin-top: 20px;
  margin-bottom: 20px;

  .nav-tabs {
    margin-bottom: 30px;
  }
}
