-r requirements-base.txt

-e git+https://github.com/polyaxon/polyaxon-client.git@5b351291fbd513e7b42a54f2a2f66cdb7ee6b900#egg=polyaxon-client==0.4.2rc0
-e git+https://github.com/polyaxon/polyaxon-schemas.git@6d0dae1eec826822503a6477143003d36e70e3f3#egg=polyaxon-schemas==0.4.2rc0
