analytics-python==1.2.9
celery==4.3.0
cryptography==2.7
Django==2.2.3
django-cors-headers==3.0.2
django-picklefield==2.0
djangorestframework==3.9.4
psycopg2-binary==2.7.5
psutil==5.4.7
raven==6.7.0
redis==3.2.1
Unipath==1.1
