analytics-python==1.2.9
celery==4.1.0
Django==2.0.4
django-cors-headers==2.2.0
djangorestframework==3.8.2
docker==3.3.0
GitPython==2.1.9
Jinja2==2.10
pika==0.11.2
psycopg2-binary==2.7.4
raven==6.7.0
redis==2.10.6
sanic==0.7.0
scikit-learn==0.19.1
scipy==1.0.1
Unipath==1.1
uWSGI==2.0.17
websockets==4.0.1
