-r requirements-base.txt

-e git+https://github.com/polyaxon/polyaxon-gpustat.git@ab6eb51f3b369c950b7d6f2e6c0a3b44d5efbe8f#egg=polyaxon-gpustat==0.0.8
-e git+https://github.com/polyaxon/polyaxon-k8s.git@3cfb5723f19d114beffdbab67feb25038dd709df#egg=polyaxon-k8s==0.0.8
-e git+https://github.com/polyaxon/polyaxon-schemas.git@fe6391d49ca8a04da2b2dbc3a8fe0e8d0d2b75fd#egg=polyaxon-schemas==0.0.8
