-r monolith/requirements-dev.txt
-r requirements-base-test.txt

execnet==1.5.0
django-debug-panel==0.8.3
django-debug-toolbar
factory-boy
fake-factory==0.7.2
responses==0.5.1
pylint-django==0.7.2
pytest-cov==2.5.1
pytest-django==3.1.2
pytest-pythonpath==0.7.1
