-r requirements-base.txt

-e git+https://github.com/polyaxon/polyaxon-client.git@f58c1f3b8fe5a04bea02e64be47219e24bb46cc4#egg=polyaxon-client==0.4.4
-e git+https://github.com/polyaxon/polyaxon-schemas.git@13af3f2ba64582311d1ee1af74eea8ef7c783e06#egg=polyaxon-schemas==0.4.4
