.outputs {
  .outputs-header {
    padding: 8px;
    -webkit-box-align: center;
    align-items: center;
    margin-bottom: -1px;
    background: #f9fafb;
    border: 1px solid #f0f4ff;
    border-radius: 4px 4px 0 0;
    margin-bottom: 15px;
  }
  .outputs-file {
    .code-table {
      margin-top: 0;
      max-height: 540px;
      overflow: auto;
      .line-number {
        width: 5px;
      }
    }

    .img-responsive {
      height: auto;
      width: 100%;
    }
  }
}
